@javascript = {

}

@manage("Clouds",javascript) {
    <li class="active"><a href="@routes.CloudController.index">Cloud</a></li>
} {
    <div ng-app="executionware">
        <div ng-controller="CloudListCtrl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cloud in clouds">
                        <td>{{cloud.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
