@(molproComputations: List[MolproComputation])

@import helper._

    @breadcrumb = {
        <li class="active">Run Configurations</li>
    }

@molproTemplate("Run Configuration",breadcrumb) {

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Number of cores used by Molpro</th>
                <th>VM cores</th>
                <th>VM memory</th>
                <th>VM disk</th>
            </tr>
        </thead>
        <tbody>
        @for(molproComputation <- molproComputations) {
            <tr>
                <td>@molproComputation.getId()</td>
                <td>@molproComputation.title</td>
                <td>@molproComputation.numOfComputationCores</td>
                @if(molproComputation.application.getApplicationComponents().size() > 0 && molproComputation.application.getApplicationComponents().get(0).getVirtualMachineTemplate() != null){
                    <td>@molproComputation.application.getApplicationComponents().get(0).getVirtualMachineTemplate().getHardware().getHardwareOffer().getNumberOfCores()</td>
                    <td>@molproComputation.application.getApplicationComponents().get(0).getVirtualMachineTemplate().getHardware().getHardwareOffer().getMbOfRam()</td>
                    <td>@molproComputation.application.getApplicationComponents().get(0).getVirtualMachineTemplate().getHardware().getHardwareOffer().getLocalDiskSpace()</td>
                }else{
                    <td>not set</td>
                    <td>not set</td>
                    <td>not set</td>
                }
                @if(!molproComputation.started){
                    <td><a href="@routes.MolproRunconfigurationController.show(molproComputation.getId())"><button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span>Edit Run Configuration</button></a></td>
                }else{
                    <td><a href="@routes.MolproRunconfigurationController.show(molproComputation.getId())"><button type="button" class="btn btn-sm btn-default disabled"><span class="glyphicon glyphicon-edit"></span>Edit Run Configuration</button></a></td>
                }

            </tr>
        }
        </tbody>
    </table>
}