@(molproComputations: List[MolproComputation])

@import helper._

@breadcrumb = {
	<li class="active">Computation</li>
}

@molproTemplate("Computation",breadcrumb) {

    <a href="@routes.MolproComputationController.newComputation()" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Create Computation</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Number of cores used by Molpro</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
        @for(molproComputation <- molproComputations) {
            <tr>
                <td>@molproComputation.getId()</td>
                <td>@molproComputation.title</td>
                <td>@molproComputation.numOfComputationCores</td>
                @if(molproComputation.started){
                    <td><span class="glyphicon glyphicon-check"/></td>
                }else{
                    <td><span class="glyphicon glyphicon-unchecked"/></td>
                }
                <td><a href="@routes.MolproComputationController.show(molproComputation.getId())"><button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span>Show</button></a></td>
            </tr>
        }
        </tbody>
    </table>
}