@(molproComputationForm: Form[MolproComputationForm])

    @import helper._
    @import tags._

@breadcrumb = {
    <li><a href="@routes.MolproComputationController.index()">Computation</a></li>
    <li class="active">New Computation</li>
}

@molproTemplate("New Computation",breadcrumb) {

    @status()

    @form(routes.MolproComputationController.create(),  'enctype -> "multipart/form-data") {

        @formFields(molproComputationForm)

        <input type="submit" class="btn btn-default" value="Create">

    }
}